VITE_GHOST_URL=your-ghost-url
VITE_GHOST_CONTENT_KEY=your-ghost-content-key
VITE_MONERO_ADDRESS=YOUR_MONERO_ADDRESS_HERE

VITE_YOUTUBE_URL="https://www.youtube.com/your-channel"
VITE_TWITTER_URL="https://twitter.com/your-handle"
VITE_DISCORD_URL="https://discord.gg/your-invite"
VITE_TWITCH_URL="https://www.twitch.tv/your-channel"