POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASSWORD
POSTGRES_DB=DB_NAME
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@db:5432/DB_NAME
VITE_GHOST_URL=your-ghost-url
VITE_GHOST_CONTENT_KEY=your-ghost-content-key

SECRET_KEY="REPLACE_WITH_A_LONG_RANDOM_STRING"
ADMIN_USERNAME="your_admin_username"
ADMIN_PASSWORD="a_very_strong_password"
ADMIN_EMAIL="your_admin_email@example.com"