POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASSWORD
POSTGRES_DB=DB_NAME
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@db:5432/DB_NAME
VITE_GHOST_URL=your-ghost-url
VITE_GHOST_CONTENT_KEY=your-ghost-content-key